name: Test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: init submodule
        run: git submodule init && git submodule update
      - name: Build with Gradle
        run: ./gradlew test