name: Release
on:
  push:
    tags:
      - '*.*.*'
      - '*.*.*-SNAPSHOT'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish to Maven Central
        env:
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.ATERNOS_GPG_SIGNING_KEY }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.ATERNOS_GPG_SIGNING_PUBLIC_KEY }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.ATERNOS_GPG_SIGNING_PASSPHRASE }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_NEXUS2_USERNAME: ${{ secrets.SONATYPE_OSSRH_USERNAME }}
          JRELEASER_NEXUS2_TOKEN: ${{ secrets.SONATYPE_OSSRH_PASSWORD }}
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.SONATYPE_OSSRH_USERNAME }}
          JRELEASER_MAVENCENTRAL_TOKEN: ${{ secrets.SONATYPE_OSSRH_PASSWORD }}
        run: ./gradlew clean publish jreleaserDeploy --no-daemon -Prelease=${{ github.ref_name }}

      - name: Generate Release Body
        run: ./gradlew generateReleaseBody

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./build/libs/mclogs-*.jar
          body_path: ${{ github.workspace }}/release-body.md
          name: v${{ github.ref_name }}
